@media (min-width: 1200px) and (max-width: 1600px) {

    
*{
	margin:0;
	padding:0;
	font-family:Arial, Helvetica, sans-serif;

}
.loader_bg {
    position: fixed;
    z-index: 9999999;
    background: #fff;
    width: 100%;
    height: 100%;
}
.loader {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main{
	
	background-image:linear-gradient(rgba(0,0,0,0.9),rgba(0, 0, 0,0.5),rgb(0, 0, 0,0.9),rgba(0,0,0,0.5)  );
	
	background-position:center;
	background-size:cover;
	overflow:scroll;
	overflow-x: hidden;
	position:relative;
}
.nav-bar{
    display:flex;
	padding:40px 100px;
	background-color: rgba(0, 0, 0, 0.9);
	width: 100%;
	overflow: hidden;
	height: 50px;
	box-shadow: 0px 0px 30px 0px white;
}

#heading{
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	color: rgb(255, 255, 255);
	font-size: 60px;
	text-align: left;
	margin-left: 10%;
	margin-top:5% ;
	text-shadow: 4px 4px 10px black;

}
#heading-color{
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	color: rgb(255, 153, 0);
	font-size:100px;
	text-align: left;
	margin-left: 0%;
	text-shadow: 4px 4px 10px black;
}
.car-img{
	margin-left:40%;
	
	
}

	

.available-img{
	margin-top: 15%;
}
.available-img .about-us-img{
	
	margin-top: 10%;
	width: 1000px;
	height: 500px;
	margin-left: -10%;
}
.available-img .services-provides{
	text-align: right;
	color: rgb(255, 0, 0);
	text-shadow: 5px 5px 10px rgb(255, 255, 255) ;
	font-size: 70px;
	font-style: oblique;
	margin-right: 3%;
	margin-top: -28%;
	margin-bottom: 25%;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	border-bottom: 10px groove rgb(14, 163, 0) ;
}
.available-img ul{
	display: inline;
	margin-top: 10%;
}
.available-img ul li{
	display:inline-block;
	background: rgb(0, 0, 0);
	list-style:none;
	padding:60px 60px;
    height: 400px;
	width: 300px;
	size: inherit;
	margin-left: 18%;
	padding-bottom: 10px;
	margin-top: 3%;
	border-bottom-right-radius: 50%;
	border-top-left-radius: 10%;
	border-top-right-radius: 10%;
	box-shadow: 0px 0px 20px 0px white;
	margin-bottom: 10%;
}	
.available-img ul li:hover{
	background: rgb(255, 121, 31);
	transition: 0.1ms;
	

}
.available-img ul a img{
	border-radius: 100%;
	
}



.nav-logo marquee{
	width: 250px;
	font-size:50px;
	color: white;
	text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	border-left: yellow solid 1px;
	border-right: yellow solid 1px;
	
}
.nav-logo marquee i{
	color: green;
}
.nav-list{
   margin-left: 25%;
   

   
}
.nav-list i{
	display: none;
}

.nav-list ul{
	display:inline;
	float:right;
    
	padding:10px;
	
}
.nav-list ul li{
	display:inline-block;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	list-style:none;
    
	padding: 15px;
	padding-bottom: 15px;
    height: 25px;
}

.nav-list ul a{
	color:rgb(255, 255, 255);
	font-size:30px;
	background-color:transparent;
	padding: 5px;
	border: none;
	margin: 3px;
	padding-bottom: 5px;
	
}
.nav-list ul a:hover{
	color:aqua;
	transition:0.8s;
	
	
}
.login-bg{
	background-color: rgba(0, 0, 0,1);
	width: 550px;
	
	margin-left: 14%;
	border-radius: 10%;
	padding-top: 30px;
	height:580px;
	margin-bottom: 5%;
	box-shadow: 0px 0px 10px 0px white;
}

.login-bg .login-head{
    
    color:white;
	padding-left: 34%;
	padding-top:7%;
	font-weight:500;
	text-transform:uppercase;
	
}
.login-bg .login-head h2{
	font-size: 60px;
	
}
.reg-bg{
	
	background-color: rgb(0, 0, 0);
	width: 750px;
	margin-left: 30%;
	border-radius: 1%;
	padding-top: 30px;
	margin-bottom: 5%;
	box-shadow: 0px 0px 10px 0px white;
}
.reg-bg .reg-head{
    
	color:rgb(255, 255, 255);
	padding-left: 37%;
	padding-top:8%;
	font-weight:500;
	
}
.reg-bg .reg-head h2{
	font-size: 60px;
}

.account{
	font-size: 120px;
	color: rgb(255, 255, 255);
	margin-left: 27%;
	margin-top: 5%;
	margin-bottom: -4%;
	
}
.reg-account{
	 
	font-size: 130px;
	color: rgb(255, 255, 255);
	margin-left: 48%;
	margin-top: 5%;
	margin-bottom: -4%;
	

}
.login-bg .login{
	margin-left:15%;
	margin-top: 8%;
	text-decoration:none;
	font-family:"Times New Roman", Times, serif;
	color: #fff;
    font-size: x-large;
    overflow: hidden;
	
}
.login-bg .login input{
	border:0;
	background:none;
	font-size:18px;
	text-align:center;
	border: 2px solid red;
	padding: 14px 10px;
	width:300px;
	outline:none;
	color:white;
	border-radius:24px;
    
}
.login-bg .login input:focus{
	
	border-color:green;
	box-shadow: 0px 0px 15px 0px blue;
}
.reg-bg .reg{
	margin-left:15%;
	margin-top: 10%;
	text-decoration:none;
	font-family:"Times New Roman", Times, serif;
	color: #fff;
    font-size: x-large;
    overflow: hidden;
	
}
.reg-bg .reg input{
	
	border:0;
	background:none;
	font-size:20px;
	font-weight: 700;
	margin-top: 2%;
	margin-bottom:10px;
	text-align: center;
	border: 2px solid red;
	padding: 14px 10px;
	width:400px;
	outline:none;
	color:white;
	border-radius:24px;
}

.reg-bg .reg input:focus{
	
	border-color:green;
	box-shadow: 0px 0px 15px 0px blue;
}


::-webkit-input-placeholder{
	color: rgb(255, 255, 255);
}

#btn-login{
	border:0;
	background:none;
	text-align:center;

	margin-left:25%;
	text-align:center;
	border: 2px solid green;
	padding: 15px;
	width:150px;
	outline:none;
	color:white;
	border-radius:24px;
    cursor:pointer;
}
#btn-login:hover{
	background-color:#2ecc71;
	transition:0.5ms;
}
#btn_reg{
	border:0;
	font-size: 20px;
	background:none;
	text-align:center;
	margin-left:22%;
	margin-top: 5%;
	text-align:center;
	border: 2px solid green;
	
	
	outline:none;
	color:white;
	border-radius:24px;
}
#btn_reg:hover{
	background-color:#2ecc71;
	transition:0.5ms;
}
.btn-create{
	border: none;
	color: rgb(76, 198, 247);
	text-shadow:4px 4px 10px black;
	text-align: center;
	background:transparent ;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	font-weight: 300;
	font-size: x-large;
	margin-top: 1%;
}
.btn-create:hover{
	color: white;
}
.reg-bg .reg #firstname{
	border-bottom: 1px solid rgb(0, 162, 255);
	margin-left: 4.5%;
}
.reg-bg .reg #lastname{
	border-bottom: 1px solid rgb(0, 162, 255);
	margin-left: 10%;
}
.reg-bg .reg #email{
	margin-left: 6%;
	border-bottom: 1px solid rgb(0, 204, 255);
}
.reg-bg .reg #pass1{
	border-bottom: 1px solid rgb(0, 162, 255);
	margin-left: 6%;
}
.reg-bg .reg #pass2{
	border-bottom: 1px solid rgb(0, 162, 255);
	margin-left: 10%;
}
.reg-bg .reg #mobile_no{
	border-bottom: 1px solid rgb(0, 162, 255);
	margin-left: 6%;
}
.reg-bg .reg #address{
	border-bottom: 1px solid rgb(0, 162, 255);
	margin-left: 6%;
}
.reg-bg .reg #birth_date{
	border-bottom: 1px solid rgb(0, 162, 255);
	margin-left: 6%;
}
.reg-bg .reg #city{
	border-bottom: 1px solid rgb(0, 162, 255);
	margin-left: 5.5%;
}
.reg-bg .reg #gender{
	border-bottom: 1px solid rgb(0, 162, 255);
	margin-left: 6%;
}
.reg-bg .reg .back-login{
	color:#FFF;
}
.login-bg .login #name1{
	margin-left: 4%;
	border-bottom: 1px solid rgb(0, 162, 255);
}
.login-bg .login #pass1{
	border-bottom: 1px solid rgb(0, 162, 255);
	margin-left: 4.5%;
}
.login-bg #or{
	margin-left: 0%;
	font-size: 24px;
}
.icons{
	display:inline;
}
.icons li{
	display: inline-block;
	padding: 10px;
	margin-left: 12%;
	margin-top: 5%;
	color: white;
	border: 2px solid rgb(240, 126, 50);
	border-radius: 100%;
	font-size: 25px;
}
.icons ul li:hover{
	font-size: 25px;
}
.icons ul li i:hover{
	color: rgb(0, 117, 252);	
} 

.wcu .wcu-head{
	margin-left: 35%; 
	margin-top: 15%;
	text-align: center;
	background-color: orange;
	
	padding-top: 30px;
	width: 500px;
	height: 80px;
	font-size: 40px ;
	margin-bottom: 3%;
}
.wcu-list li{
	display: inline-block;
	padding: 150px;
	margin-left: 7%;
	color: white;
}


}